@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.logo {
  height: 150px;
}

.top-logo {
	height: 80%;
}

.bottom-logo {
	height: 30%;
}

h1 {
	color: #000080; 
	font-family: "Great Vibes", cursive; 
	background-color: purple;
	width: 100%;
	height: 100%;
	font-size: 3em;
}

h2 {
	font-style: italic; 
	color: #B6B6B6; 
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-size: 1.5em;
	background-color: brown; 
}

.Checklist {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

